@media only screen and (min-width: 325px) and (max-width: 800px) {
    header {
        max-height: 425px;
    }
    
    header> article {
        gap: 4px;
        max-width: 90%;
        max-height: 300px;
        margin: 0;
        padding: 0;
    }
    
    header>  .watermark-header {
        font-size: 60px;
        margin: 0;
        padding: 0;
        color: azure;
    }
    
    header> article> h1 {
        font-size: 28px;
        letter-spacing: 0;
        margin: 0;
        padding: 0;
    }
    
    header> article> button {
        width: 60%;
        height: 60px;
        margin-top: 0;
    }
    
}